<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!-- 配置文件，可加
      <add key="connectionstring" value="User Source=.;Password=;Initial Catalog=test;Provider=SQLOLEDB.1;" />
      <add key="TemplatePATH" value="Template" />
      -->
    <add key="Labelroot" value="E:\study\MyCode\vs\作业与上机\程序设计方法\食堂管理系统\MyDKJ"/>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="ServerPORT" value="7000"/>
    <add key="LabelReader" value="FILE"/>
    <!--选择读取器
        RFID、FILE
      -->
    <!--配置串口-->
    <add key="SerialPort" value="null"/>
    <add key="SerialBaudRate" value="9600"/>

  </appSettings>
</configuration>
